<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <main>
    <div class="columns col-gapless">
      <%- include('./partials/header.ejs') %> 
      <%- include('./partials/whatisadog.ejs') %> 
      <%- include('./partials/poodlefigure.ejs') %> 
      <%- include("./partials/whygetadog.ejs") %> 
      <%- include("./partials/carousel.ejs") %> 
      <%- include("./partials/dogslist.ejs", { dogs }) %>
      <%- include("./partials/dogform.ejs") %>
    </div>
  </main>  
</body>
</html>