<div class="card text-left">
  <div class="card-image">
    <img src="<%= imageLink %>" class="img-responsive">
  </div>
  <div class="card-header">
    <div class="card-title"><%= breed %></div>
    <div class="card-subtitle text-gray">
      <a href="<%= breedInfoLink %>" target="_blank">About & Information</a>
    </div>
  </div>
  <div class="card-body">
    <%= description %>
  </div>
  <div class="card-footer">
    <form class="form-group float-right" action="/delete/<%= dogId %>" method="post">
      <input class="btn btn-error" type="submit" name="submit" id="submit" value="Remove">
    </form>
  </div>
</div>